<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        #seven{
            background-color: rgb(235, 209, 228);
        }
    </style>
</head>
<body id="seven">
    {% extends 'base.html' %} {% block content %}

<h1>결정장애를 위한 웹서비스입니다.</h1>

<br>
<div class="container">
    <div class= "row">
        <div class="col">
            <h3>!!HOT VOTES!!</h3>
            {% if hotVotes %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Top</th>
                    <th scope="col">Title</th>
                    <th scope="col">Votes</th>
                </tr>
                </thead>
                <tbody>
                {% for hotv in hotVotes %}
                <tr
                    onclick="location.href=`{%url 'vote:detail' hotv.id%}`"
                    style="cursor: pointer;"
                >
                    <a href="{%url 'vote:detail' hotv.id%}">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ hotv.title }}</td>
                    <td>{{ hotv.total_votes }}</td>
                    </a>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No vote.</p>
            {% endif %}
        </div>
        <div class="col">
            <h3>!!HOT QUESTION!!</h3>
            {% if hotQuestions %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Top</th>
                    <th scope="col">Title</th>
                    <th scope="col">Comments</th>
                </tr>
                </thead>
                <tbody>
                {% for hotq, count in hotQuestions %}
                <tr
                    onclick="location.href=`{%url 'vote:detail' hotq.id%}`"
                    style="cursor: pointer;"
                >
                
                    <a href="{%url 'vote:detail' hotq.id%}">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ hotq.title }}</td>
                    <td>{{ count }}</td>
                    </a>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No vote.</p>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h3>!!LATEST VOTES!!</h3>
            {% if latestVotes %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">DATE</th>
                </tr>
                </thead>
                <tbody>
                {% for latv in latestVotes %}
                <tr
                    onclick="location.href=`{%url 'vote:detail' latv.id%}`"
                    style="cursor: pointer;"
                >
                    <a href="{%url 'vote:detail' latv.id%}">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ latv.title }}</td>
                    <td>{{ latv.pub_date }}</td>
                    </a>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No vote.</p>
            {% endif %}
        </div>

        <div class="col">
            <h3>!!LATEST QUESTION!!</h3>
            {% if latestQuestions %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">DATE</th>
                </tr>
                </thead>
                <tbody>
                {% for latq in latestQuestions %}
                <tr
                    onclick="location.href=`{%url 'vote:detail' latq.id%}`"
                    style="cursor: pointer;"
                >
                    <a href="{%url 'vote:detail' latq.id%}">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ latq.title }}</td>
                    <td>{{ latq.pub_date }}</td>
                    </a>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No vote.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}


</body>
</html>
