<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        #seven{
            background-color: rgb(235, 209, 228);
        }
    </style>
</head>
<body id="seven">
    {% extends 'base.html' %} {% block content %}

<h1>Login page</h1>
<form action="{%url 'main:login' %}" method="POST">
    {% csrf_token %}
    <p>username <input type="text" name="username" required="required"></p>
    <p>password <input type="password" name="password" required="required"></p>
    <button type="submit">LOGIN</button>
</form>

{% endblock %}

</body>
</html>



