<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <style>
        #seven{
            background-color: rgb(235, 209, 228);
        }
    </style>
</head>
<body id="seven">
  {% extends 'base.html' %} {% block content %}

  <h2>Decision Page</h2>
  
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      {{form.as_table}}
    </table>
    <a href="{%url 'decision:result' %}">결과확인</a>
  </form>
  
  {% endblock %}
</body>
</html>
