<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail</title>
</head>
<body id="seven">
    {% extends 'base.html' %} {% block content %}
    <h1>{{ question.title }}</h1>

{% if user.username == question.writer %}
<div align="right"><button type="button" class="btn btn-outline-dark">
    <a href="{%url 'vote:delete' question.id%}">삭제</a></button></div>
{% else %}
{% endif %}

    <ul class="list-group list-group-flush">
    {% for choice in question.choice_set.all %}
        <li class="list-group-item">{{ choice.text }} ----- {{ choice.votes }}</li>
    {% endfor %}
    </ul>
    <br>
    <button type="button" class="btn btn-outline-dark"><a href="{% url 'vote:vote_list' %}">Home</a></button>
    <button type="button" class="btn btn-outline-dark"><a href="{% url 'vote:vote' question.id %}">Vote</a></button>

    {% endblock %}
</body>
</html>