<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vote</title>
  <style>
    #seven{
        background-color: rgb(235, 209, 228);
    }
</style>
</head>
<body id="seven">
    {% extends 'base.html' %} {% block content %}
<h1>{{ question.title }}</h1>

<form action="{% url 'vote:add_vote' question.id %}" method="post">
    {% csrf_token %}
    <br>
    {% for choice in question.choice_set.all %}   
    <div class="input-group">   
        <div class="input-group-prepend">       
            <div class="input-group-text">
               <input type="radio" name="choice" id="choice{{ forloop.counter}}" value="{{choice.id}}" aria-label="Radio button for following text input">
            </div>
        </div>
        <label class="form-control" for="choice{{forloop.counter}}">{{choice.text}}</label>
    </div>
    {% endfor %}
    <br>
    <input type="submit" class="btn btn-outline-dark" value="Vote">
</form>
{% endblock %}
</body>
</html>