{% extends 'base.html' %} {% block content %}

<h1>Question detail</h1>
<br>
<h2>{{question.title}}</h2>
<br>
<h4>{{question.writer}}</h4>
<hr>
<p>{{question.pub_date}}</p>
<hr>
<p>{{question.content}}</p>
    
        <a href = "{% url 'edit' question.id %}">edit</a>
        <br>
        <a href = "{% url 'delete' question.id %}">delete</a>
        <br>
        <a href = "{% url 'list' %}">list</a>
        <br>
        <br>
        <hr>
        <h2>ANSWER</h2>
        <details>
            <summary>댓글작성</summary>
            <form action = "{% url 'create_answer' question.id %}" method="POST">
                {% csrf_token %}
            <p>작성자 : <input type="text" name="writer"></p>
            <p> 내용 : <textarea name ="content" id="" cols="30" rows="10"></textarea></p>
    
            <button type = "submit">답변</button>
            </form>
        </details>
       

        <hr>
        
        <h3>answer list</h3>
        
        {% for ans in answer %}
      
        <p>{{ans.writer}}</p>
        <p>{{ans.content}}</p>
        <details>
            <summary>댓글수정</summary>
            <hr>
            <form action = "{% url 'update_answer' answer.id %}" method="POST">
                {% csrf_token %}
            <p>작성자 ID : <input type="text" name="writer" value="{{answer.writer}}"></p>
            <p> 내용 : <textarea name ="content" id="" cols="30" rows="10" value="{{answer.content}}"></textarea></p>
    
            <button type = "submit">답변수정</button>
            </form>
        </details>
        <br>  
        <br>
        <hr>
        {% endfor %}
      

<br>
<hr>
<hr>
<br>


{% endblock %}


<!-- answer를 어떻게 만들어야할까..? -->
<!-- <a href = "{% url 'delete' create_answer.id %}">delete</a> -->