<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>question</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    {% extends 'base.html' %} {% block content %}

    <h2>Question?</h2>
    {% csrf_token %}
    <br>
    <hr>
    <svg class="bi bi-plus-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
      </svg>
        <a href="{% url 'new' %}" method= "POST">more</a>
        <hr>
        {%for question in questions%}
        <br>
        <br>
        <a href="{% url 'detail' question.id %}" method="POST">
            <br>
            <hr>
            <h5>{{question.title}}</h5>
            <br>
            작성자:{{question.writer}} 
            <br>
            {{question.pub_date}}
            <br>
            <hr>
            {{question.summary}}
            <br>
            <br>
            <hr>
            <hr>
        </a>

        {% endfor %}
        
    <br>
    
    
{% endblock %}

</body>
</html>
<!-- 왜 new말고 다른 링크가 안걸릴까...detail이 걸려야하는데.. -->


   

    

